
:root {
    /* text color */
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';

    --acent-color: #2196f3;
    --secondary-color: #188ce8;
    --white-color: white;
    --border-bottom-color: #ececec;
    --header-color: #212121;
    --label-color: #757575;
    --border-checkbox: #2a2a2a;

    --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
